doctype html
html
    head
        link(rel='stylesheet' href='css/app.min.css')
    body
        #elem(draggable= true) 0: а нахуя мне игрек
        .block.block__4
            .first-step.step
                h3.step__head Выберите тип фургона:
                .control
                    button.btn-further Далее
            .second-step.step.disp-off
                h3.step__head Задайте параметры грузовика
                .control
                    button.btn-backwards Назад
                    button.btn-complite Готово
            .third-step.step.disp-off
                h3.step__head Расставьте груз
                .control
                    button.btn-backwards2 Назад
            div.workflow
                div.truck-1
                    svg.first-step__truck-1(version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 245 112" width="245px")
                        rect(class="truck-1__van droppable" x="65" width="172" height="83")
                        rect(class="truck-1__hearse" x="65" y="85.98" width="164" height="8.01")
                        circle(class="truck-1__second-wheel" r="13" cy="98" cx="193")
                        circle(class="truck-1__first-wheel" r="13" cy="98" cx="44")
                        path(class="truck-1__cabin" d="M538,367l24.89-.55c.76-19.61,17.27-20,37.08-19.59l-.07-65.69L549.4,281c-13.38,22.36-11.24,35.55-11.35,36.5l0,49.5Z" transform="translate(-537.99 -268.01)")
                div.truck-2
                    svg.first-step__truck-2(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401 117" width="401px" height="116px")
                        circle(class="truck-2__second-wheel" r="15" cy="102" cx="132")
                        circle(class="truck-2__first-wheel" r="15" cy="102" cx="44")
                        circle(class="truck-2__third-wheel" r="15" cy="102" cx="264")
                        circle(class="truck-2__fourth-wheel" r="15" cy="102" cx="300")
                        circle(class="truck-2__fifth-wheel" r="15" cy="102" cx="336")
                        rect(class="truck-2__hearse" x="65.32" y="88.98" width="89" height="8.01")
                        rect(class="truck-2__van" x="77.32" width="320.02" height="83")
                        polygon(class="truck-2__hitch" points="108,89 113,82 118,89")
                        path(class="truck-2__cabin" d="M759.37,406.25l25.07-.56c.77-19.59,17.39-20,37.34-19.56l-.07-65.65-50.89-.17c-13.47,22.34-11.32,35.53-11.42,36.47l0,49.47Z" transform="translate(-759.33 -305.02)")
                .arrows__second-step.disp-off
                    form.arrows__truck1
                         .units
                            p.units__name Единица измерения
                                ul.units__list
                                    li.units--kg кг
                                    li.units--funt.disp-off фунт
                                    li.units--t.disp-off т
                         .inner-html.disp-off
                         .first_line.line
                         .second-line.line
                         .third-line.line
                         .load-capacity
                             p Грузоподъемность
                             .value__wrapp.value__wrapp--load-capacity
                                input(type="tel" value="5500" min="1" max="15000" step="1" maxlength="5" tabindex="1" autofocus).load-capacity__value.load-capacity__value--kg.value
                                input(type="tel" value="12125" min="2" max="33069" step="1" tabindex="1" maxlength="5").load-capacity__value.load-capacity__value--funt.value.disp-off
                                input(type="tel" value="6" min="1" max="15" step="1" tabindex="1" maxlength="5").load-capacity__value.load-capacity__value--t.value.disp-off
                                .unit кг
                         .value__between-axes.value__arrow
                             .arrow.arrow__between-axes
                             .value__wrapp.value__wrapp--between-axes
                                 input(type="tel" value="5.15" min="4" max="8" step="0.01" required="" tabindex="2" maxlength="4").value.bottom-value
                                 .unit М
                         .value__door-axle.value__arrow
                             .arrow.arrow__door-axle
                             .value__wrapp.value__wrapp--door-axle
                                input(type="tel" value="1.2" min="1" max="3" step="0.01"  required="" tabindex="3" maxlength="4").value.bottom-value
                                .unit М
                         .value__van.value__arrow
                             .arrow.arrow__van
                             .value__wrapp.value__wrapp--van
                                input(type="tel" value="6" min="4" max="10" step="0.01" required="" tabindex="4" maxlength="4").value.top-value
                                .unit М
                         .value__first-axis.value__arrow
                             .arrow.arrow__first-axis
                             .value__wrapp.value__wrapp--first-axis
                                input(type="text" value="2100" min="1" max="10000" step="1" maxlength="5" tabindex="5" required="").value.axis-btm-value.axis__first-axis--kg
                                input(type="text" value="4630" min="2" max="22046" step="1" maxlength="5" tabindex="5" required="").value.axis-btm-value.axis__first-axis--funt.disp-off
                                input(type="text" value="2.1" min="1" max="10" step="0.001" maxlength="5" tabindex="5" required="").value.axis-btm-value.axis__first-axis--t.disp-off
                                .unit кг
                         .value__second-axis.value__arrow
                             .arrow.arrow__second-axis
                             .value__wrapp.value__wrapp--second-axis
                                input(type="text" value="2300" min="1" max="10000" step="1" maxlength="5" tabindex="6" required="").value.axis-btm-value.axis__second-axis--kg
                                input(type="text" value="5071" min="2" max="22046" step="1" maxlength="5" tabindex="6"  required="").value.axis-btm-value.axis__second-axis--funt.disp-off
                                input(type="text" value="2.3" min="1" max="10" step="0.001" maxlength="5" tabindex="6" required="").value.axis-btm-value.axis__second-axis--t.disp-off
                                .unit кг
                         .value__wagon-cab.value__arrow
                             .arrow.arrow__wagon-cab
                             .value__wrapp.value__wrapp--wagon-cab
                                input(type="text" value="0.35" maxlength="4"  readonly).value.top-value
                                .unit М
                    form.arrows__truck2
                        .units
                            p.units__name Единица измерения
                                ul.units__list
                                    li.units--kg кг
                                    li.units--funt.disp-off фунт
                                    li.units--t.disp-off т
                        .inner-html.disp-off
                        .load-capacity
                            p Грузоподъемность
                            .value__wrapp.value__wrapp--load-capacity
                                input(type="tel" value="20000" min="10000" max="25000" step="1" required="" tabindex="1" maxlength="5" autofocus).load-capacity__value.load-capacity__value--kg.value
                                input(type="tel" value="44100" min="22050" max="55125" step="1" required="" tabindex="1" maxlength="5").load-capacity__value.load-capacity__value--funt.value.disp-off
                                input(type="tel" value="20" min="10" max="25" step="0.01" required="" tabindex="1" maxlength="4").load-capacity__value.load-capacity__value--t.value.disp-off
                                .unit кг
                        .value__first-axes.value__arrow
                            .arrow.arrow__first-axes
                            .value__wrapp.value__wrapp--first-axes
                                input(type="tel" value="3.6" min="3" max="5" step="0.01" required="" tabindex="2" maxlength="4").value.bottom-value
                                .unit М
                        .value__second-axes.value__arrow
                            .arrow.arrow__second-axes
                            .value__wrapp.value__wrapp--second-axes
                                input(type="tel" value="5.7" min="4" max="10" step="0.01" required="" tabindex="3" maxlength="4").value.bottom-value
                                .unit М
                        .value__third-axes.value__arrow
                            .arrow.arrow__third-axes
                            .value__wrapp.value__wrapp--third-axes
                                input(type="tel" value="1.31" min="1" max="2" step="0.01" required="" tabindex="4" maxlength="4").value.bottom-value
                                .unit М
                        .value__fourth-axes.value__arrow
                            .arrow.arrow__fourth-axes
                            .value__wrapp.value__wrapp--fourth-axes
                                input(type="tel" value="1.31" min="1" max="2" step="0.01" required="" tabindex="5" maxlength="4").value.bottom-value
                                .unit М
                        .value__van.value__arrow
                            .arrow.arrow__van
                            .value__wrapp.value__wrapp--van
                                input(type="tel" value="13.62" min="10" max="18" step="0.01" required="" tabindex="6" maxlength="5").value.top-value
                                .unit М
                        .value__first-axis.value__arrow.value-axis
                            .arrow.arrow__first-axis.arrow-axis
                            .value__wrapp.value__wrapp--first-axis
                                input(type="tel" value="5600" min="4000" max="10000" step="1" required="" tabindex="7" maxlength="5").value.value__first-axis--kg
                                input(type="tel" value="5600" min="8820" max="22050" step="1" required="" tabindex="7" maxlength="5").value.value__first-axis--funt.disp-off
                                input(type="tel" value="5.6" min="4" max="10" step="0.001" required="" tabindex="7" maxlength="4").value.value__first-axis--t.disp-off
                                .unit кг
                        .value__second-axis.value__arrow.value-axis
                            .arrow.arrow__second-axis.arrow-axis
                            .value__wrapp.value__wrapp--second-axis
                                input(type="tel" value="3600" min="2000" max="6000" step="1" required="" tabindex="8" maxlength="4").value.value__second-axis--kg
                                input(type="tel" value="7938" min="4410" max="13230" step="1" required="" tabindex="8" maxlength="5").value.value__second-axis--funt.disp-off
                                input(type="tel" value="3.6" min="2" max="6" step="0.001" required="" tabindex="8" maxlength="4").value.value__second-axis--t.disp-off
                                .unit кг
                        .value__third-axis.value__arrow.value-axis
                            .arrow.arrow__third-axis.arrow-axis
                            .value__wrapp.value__wrapp--third-axis
                                input(type="tel" value="1900" min="1500" max="3000" step="1" required="" tabindex="9" maxlength="4").value.value__third-axis--kg
                                input(type="tel" value="4190" min="3308" max="6615" step="1" required="" tabindex="9" maxlength="4").value.value__third-axis--funt.disp-off
                                input(type="tel" value="1.9" min="1.5" max="3" step="0.001" required="" tabindex="9" maxlength="4").value.value__third-axis--t.disp-off
                                .unit кг
                        .value__fourth-axis.value__arrow.value-axis
                            .arrow.arrow__fourth-axis.arrow-axis
                            .value__wrapp.value__wrapp--fourth-axis
                                input(type="tel" value="1900" min="1500" max="3000" step="1" required="" tabindex="10" maxlength="4").value.value__fourth-axis--kg
                                input(type="tel" value="4190" min="3308" max="6615" step="1" required="" tabindex="10" maxlength="4").value.value__fourth-axis--funt.disp-off
                                input(type="tel" value="1.9" min="1.5" max="3" step="0.001" required="" tabindex="10" maxlength="4").value.value__fourth-axis--t.disp-off
                                .unit кг
                        .value__fifth-axis.value__arrow.value-axis
                            .arrow.arrow__fifth-axis.arrow-axis
                            .value__wrapp.value__wrapp--fifth-axis
                                input(type="tel" value="1900" min="1500" max="3000" step="1" required="" tabindex="11" maxlength="4").value.value__fifth-axis--kg
                                input(type="tel" value="4190" min="3308" max="6615" step="1" required="" tabindex="11" maxlength="4").value.value__fifth-axis--funt.disp-off
                                input(type="tel" value="1.9" min="1.5" max="3" step="0.001" required="" tabindex="11" maxlength="4").value.value__fifth-axis--t.disp-off
                                .unit кг
                        .value__wagon-hitch.value__arrow
                            .arrow.arrow__wagon-hitch
                            .value__wrapp.value__wrapp--wagon-hitch
                                input(type="tel" value="1.62" min="1" max="1.7" step="0.01" maxlength="4" tabindex="12" required="").value.top-value
                                .unit М
                        .value__axle-hitch.value__arrow
                            .arrow.arrow__axle-hitch
                            .value__wrapp.value__wrapp--axle-hitch
                                input(type="tel" value="0.66" min="0.2" max="1" step="0.01" maxlength="4"  tabindex="13" required="").value.top-value
                                .unit М
                .weight__third-step.disp-off
                    .storage.disp-off
                    .weight__quantity
                        p.weight__text Количество:
                        input(type="number" min="1" value="" maxlength="2").weight__quantity--input
                        p.weight__max максимум:
                            span.weight__max--value 1
                    .load__stack
                        p.load__max максимум: #[br]грузоподъемность 20%
                        .load__unit
                            p.load__weight Вес:
                            input.load__input(type="tel" value="1000" maxlength="5" onclick="event.stopPropagation()")
                            .load__gravity.load__gravity--active.disp-off
                                svg(version="1.1" width="20" height="20" viewBox="0 0 20 20")
                                    image(width="20" height="20" preserveAspectRatio="none" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz AAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAOYSURBVEiJvZZdTFNnGMf/73sqpV0LlZaaDi1E3dA6xWk2PqKwLlyoS5BEwS0RF5amJLsYZMMZXEzO5ZaMLcsuVMwSHNywLpoYLraUuaSuNpqBMuOE4Wg6F1qB2bJ+2Z6ec3bB1lBGOaWW/u/O8/6f5/d+nvclyEBW68UNGr3qLKF4+ynHlYFgQzQWJx2nGpFICGIgEBJmvIHZsbFHX3z52bVPARsvVZOs1tjTc1nLM9T+Vyi8d9rz+H/e74c+gkzGJL/jcQ73Jx7B6Zr6ZWhw/IDTeSa4ZvDps4MX/JGw9XePb0UPIQQj355Lky1ibHwa9h9+Hejpbjq1kkO2PMCyLGUUe+4670zsjsW4dP0CWXWuCPZVbcP2rYY2rXbkdWv7T0aAFdKCWZalCdlOn+PWvVJRXK3w4oilVKRWor3NXKZWFy68dRzFS+E0xVmw697NsUlJaKZgAGAoxfGjNaq+/oPupfEkuOv0wAXX3d9MYiZUSE31MjjD4M1jtcaPe68NpIBZ9ruSCB+1xrlExsXoWsgAVM8p0FC/42RzM6tJgsOJefuU27u2Slmoev92HG464AQAyrI/ygLh8MvrDV0UQdUeowloYWiM876f7qyuh3abytHZ3dxNOQiWDPdTTqQoLMC+/Zu7KKi4JX/YRem0Kh0NRZ7K8w3WaFQyuhCK5G19/5NeVwSZsUwnGko1BABicQ68IL3ggiCCS/Bw//E4K3AwFAWZnw/yWq2KSttTNfXQh44P+7ICl28pBfX7w9Gssp9BBv3GBPX5Am5pa26l36iepQ8ezJzPJ5QQAgjMZWq3z1+cm/tbkE7Jjap2lYs3HcFz1GZr5UdHp6/nC1zxvG7SZmvlKQBcvXr7qN8flnwZPqtMlZtx59ZsLfDvtdjX1xG5cuXnXiGDM5ytlIoCbDWUDvb3tweSYACwWF4743BMjK4HlFKCQw173R90NrUlY0sNZrPpFZdr6s9cQ48drl5wjARfSIkv84l1dS8ab9yYvJ2LaS9SK3DijTrPuxZXic3WmrKHVvpVivX1O6ovXbr+id8fzuqYEQI01JrExpqqr6zvNFYsf1MDALNCHgBgePjrkbm5bZ/L5aSmpERVrlAUpNxiT56EMGxP3RJKpRwHq3eK5ldN43yUvtT13qGhtJ3LZAQtLd8wR44YOisr9ZZNmzQVxcUK+Yx3gdiGnUSpLBRVykJOKZd7KU/PezxCL8uaJZ+r/wCqvkhk/UAHYwAAAABJRU5ErkJggg==" id="image10" x="0" y="0")
                            .load__arrow.disp-off
                                p.load__arrow-value--top.load__arrow-value 0.75
                            .load__dist-arrow.load__dist-arrow--left.disp-off
                                p.load__arrow-value 0.15
                            .load__second-line.disp-off
                        p.load__width 1,2 м
                    .load__first-line.disp-off
                    .load__dist-arrow.load__dist-arrow--right.disp-off
                        p.load__arrow-value 0.15
                    p.inner-html__warning
                    .calculation
                        .calculation__truck1
                            .axle-load__first
                            .axle-load__second
                        .calculation__truck2
                            .axle-load__first
                            .axle-load__second
                            .axle-load__third
                            .axle-load__fourth
                            .axle-load__fifth
        .select.load__unit--active.load__input--disabled.disp-off
            .select__second-step
        script(src="/scripts/script.js")