*{
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #000;
}
body {
    color: #334455;
}
body {
    color: #000;
}
h1{
    color: beige;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
p{
    color: mediumslateblue;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}
img {
    width: 750px;
    margin-left: 20%;
    height: auto;
}
